# ============ WAJIB ============
DATABASE_URL=postgresql://user:password@host-internal-easypanel:5432/toko_jam_bekas
SESSION_SECRET=            # node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
NODE_ENV=production
APP_BASE_URL=https://namaapp.maulanacorp.my.id
NEXT_PUBLIC_APP_NAME=Jam Bekas Ops

# ============ Opsional ============
SESSION_COOKIE_NAME=jam_session

# ============ Seed admin (opsional) ============
SEED_ADMIN_PASSWORD=       # kosong = pakai admin123
SEED_ADMIN_EMAIL=
